.my-search-box {
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  width: 40%;
  height: 35px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
}

.mb {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .mb {
    margin-top: 70px;
  }

  .my-search-box {
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    width: 80%;
    height: 35px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
  }
}
