<input matInput type="text" class="my-search-box mb" (keydown.enter)="$event.preventDefault()"
       placeholder="Introduce el destino" #search/>

<google-map
  #myGoogleMap
  [height]="height"
  width="100%"
  [options]="options"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="eventHandler($event,'mapClick')"
  (mapDblclick)="eventHandler($event,'mapDblclick')"
  (mapDrag)="eventHandler($event,'mapDrag')"
  (mapDragend)="eventHandler($event,'mapDragend')"
  (mapRightclick)="eventHandler($event,'mapRightclick')"
  (zoomChanged)="eventHandler($event,'zoomChanged')"
>

  <ng-container *ngIf="myLocation">
    <map-marker [position]="myLocation" title="Mi Ubicación" [options]="myLocationOptions">
    </map-marker>
  </ng-container>

  <map-polyline *ngFor="let lineRoute of lineRoutes" [options]="lineRoute.options"></map-polyline>

  <ng-container *ngIf="showChannels">
    <map-polyline *ngFor="let channel of allChannels" [options]="channel.options"></map-polyline>
  </ng-container>

  <ng-container *ngIf="destinationMarker">
    <map-marker #markerElem="mapMarker" [position]="destinationMarker.position" [title]="destinationMarker.title!"
                [options]="destinationMarker.options!" (mapDblclick)="clearMarker()">
    </map-marker>
    >
  </ng-container>

  <ng-container *ngIf="nearestPolylines">
    <map-polyline *ngFor="let polyline of nearestPolylines" [options]="polyline.options"></map-polyline>
  </ng-container>

  <ng-container *ngIf="showStands">
    <map-marker *ngFor="let stand of allStands" [position]="stand.position">
    </map-marker>
  </ng-container>


  <map-info-window>{{ infoContent }}</map-info-window>

</google-map>
