<div>
  <input
    type="text"
    class="my-search-box m-5"
    (keydown.enter)="$event.preventDefault()"
    placeholder="Introduce el destino"
    #search
  />
</div>
<google-map
  #myGoogleMap
  height="90%"
  width="100%"
  [options]="options"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="eventHandler($event,'mapClick')"
  (mapDblclick)="eventHandler($event,'mapDblclick')"
  (mapDrag)="eventHandler($event,'mapDrag')"
  (mapDragend)="eventHandler($event,'mapDragend')"
  (mapRightclick)="eventHandler($event,'mapRightclick')"
  (zoomChanged)="eventHandler($event,'zoomChanged')"
>
  <map-polyline
    *ngFor="let lineRoute of lineRoutes"
    [options]="lineRoute.options"
  ></map-polyline>

  <ng-container *ngIf="destinationMarker">
    <map-marker
      #markerElem="mapMarker"
      [position]="destinationMarker.position"
      [title]="destinationMarker.title!"
      [options]="destinationMarker.options!"
      (mapClick)="mapClick(markerElem, destinationMarker.info!)"
    >
    </map-marker>
    >
  </ng-container>

  <ng-container
    *ngIf="polyline"
  >
    <map-polyline
      [options]="polyline.options"
    ></map-polyline>
  </ng-container>

  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>
