.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 70%;
  }
}

.container-menu-btn {
  position: absolute;
  top: calc(75px + 15px);
  left: 20px;
  z-index: 1;
}

.btn-circular {
  height: 40px;
  width: 40px;
}

.container-rotate-left {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20px;
}

.container-rotate-right {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 20px;
}

.container-my-location {
  position: absolute;
  z-index: 1;
  bottom: 80px;
  right: 20px;
}

.icon-display {
  transform: scale(0.8);
}
