.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #ffffff;
}

.logo-container img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 75%;
  }
}

.btn-menu-container {
  position: absolute;
  top: calc(90px + 20px);
  left: 20px;
  z-index: 1;
}

.btn-rotate {
  height: 40px;
  width: 40px
}

.btn-rotate-left {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20px;
}


.btn-rotate-right {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 20px;
}

.icon-display {
  transform: scale(0.8);
}
